# Server
PORT=3000

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# Keycloak Configuration
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_PUBLIC_URL=http://localhost:8080
KEYCLOAK_REALM=my-plataform
KEYCLOAK_CLIENT_ID=gateway
KEYCLOAK_LOGIN_CLIENT_ID=frontend
KEYCLOAK_LOGIN_REDIRECT_URI=http://localhost:4000

# User Service Configuration
USER_SERVICE_URL=http://user-service:3001

# CORS
CORS_ORIGIN=http://localhost:4000

# Environment
NODE_ENV=development
